
/*--------------------------------- Responsive Media Quaries -----------------------------*/

  
  @media only screen and (min-width: 1200px) {
    .container {
      max-width: 1170px;
    }
  }
  
 
  /* Tablet Device = 768px */
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    
    .discount__pic img {
      height: auto;
    }
  
    .discount__text {
      height: auto;
    }
  
  
    .product__details__pic {
      margin-bottom: 50px;
    }
  
    .nav::before {
      width: 125px;
    }
  
    .nav::after {
      width: 125px;
    }
  
    .discount__content {
      margin-bottom: 40px;
    }
  
  
    .slicknav_btn {
      display: none;
    }
  
    .slicknav_menu {
      background: transparent;
      padding: 0;
      margin-bottom: 20px;
    }
  
    .slicknav_nav ul {
      margin: 0;
    }
  
    .slicknav_nav .slicknav_row,
    .slicknav_nav a {
      padding: 7px 0;
      margin: 0;
      color: $heading-color;
      font-weight: 600;
    }
  
    .slicknav_nav .slicknav_row:hover {
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      background: transparent;
      color: $heading-color;
    }
  
    .slicknav_nav a:hover {
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      background: transparent;
      color: $heading-color;
    }
  
    .slicknav_nav {
      display: block !important;
    }
  
    .offcanvas__logo {
      margin-bottom: 25px;
    }
  
    .offcanvas__widget {
      text-align: center;
      margin-bottom: 20px;
  
      li {
        list-style: none;
        display: inline-block;
        font-size: 18px;
        color: $heading-color;
        margin-right: 20px;
        cursor: pointer;
  
        &:last-child {
          margin-right: 0;
        }
  
        a {
          font-size: 18px;
          color: $heading-color;
          position: relative;
  
          .tip {
            position: absolute;
            right: -12px;
            top: -11px;
            height: 18px;
            width: 18px;
            background: $heading-color;
            font-size: 10px;
            font-weight: 500;
            color: $white-color;
            line-height: 18px;
            text-align: center;
            border-radius: 50%;
          }
        }
      }
    }
  
  }
  
  /* Wide Mobile = 480px */
  @media only screen and (max-width: 767px) {
    
    .slicknav_btn {
      display: none;
    }
  
    .slicknav_menu {
      background: transparent;
      padding: 0;
      margin-bottom: 20px;
    }
  
    .slicknav_nav ul {
      margin: 0;
    }
  
    .slicknav_nav .slicknav_row,
    .slicknav_nav a {
      padding: 7px 0;
      margin: 0;
      color: $heading-color;
      font-weight: 600;
    }
  
    .slicknav_nav .slicknav_row:hover {
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      background: transparent;
      color: $heading-color;
    }
  
    .slicknav_nav a:hover {
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      background: transparent;
      color: $heading-color;
    }
  
    .slicknav_nav {
      display: block !important;
    }
  
  
    .discount__pic img {
      height: auto;
    }
  
    .discount__text {
      padding: 75px 40px 50px;
      height: auto;
    }
  
    .product__details__pic__left {
      height: auto;
    }
  
    .product__details__pic {
      margin-bottom: 30px;
    }
  
  
    .nav::before {
      display: none;
    }
  
    .nav::after {
      display: none;
    }
  
  
    .discount__content h6 {
      display: block;
      margin-right: 0;
      margin-bottom: 20px;
    }
  
    .discount__content {
      margin-bottom: 35px;
    }
  
    .blog__sidebar {
      padding-left: 0;
      padding-top: 40px;
    }
  
    .contact__content {
      margin-bottom: 40px;
    }
  }
  
  /* Small Device = 320px */
  @media only screen and (max-width: 479px) {
    .categories__item.categories__large__item {
      padding-left: 30px;
    }
  
    .banner__text h1 {
      font-size: 45px
    }
  
    .filter__controls li {
      margin-right: 5px;
      margin-bottom: 5px;
    }
  
    .discount__text {
      padding: 75px 0px 50px;
    }
  
    .product__details__button .cart-btn {
      float: none;
      margin-right: 0;
    }
  
    .product__details__button ul {
      float: none;
    }
  
    .nav-item {
      margin-right: 20px;
    }
  
    .blog__details__item__title {
      margin-right: 30px;
    }
  